@font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#join{
    border: 1px solid #BCC9ED;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    width: 35%;
    margin-top: 70px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'MYYeongnamnu','Arial';
}
a {
    text-decoration: none;
}
.btn.btn-primary{
    margin-top: 5px;
    background-color: #71A7D4;
    border: 1px solid #B1B8ED;
    
}
.btn.btn-primary:hover{
    background-color: #6595BD;
    border: 1px solid #6F8DBD;
}
.home h3{
    margin-top: 20px;
    margin-left: 40px;
    line-height: 10px;
    font-size: 30px;
    color: gray;
    opacity: 50%; 
}

.home img{
    position: absolute;
    float: left;
    margin-left: 10px;
    margin-top: -7px;
    width: 2vw;
    size: 70%;
    opacity: 30%;
}


