.menu_top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
.menu{
    height: 50px;
    width: 150px;
    background-color: rgb(248, 220, 220);
    border: 1px solid #ffd6d6;
    border-radius: 1px 40px 1px 40px;
    padding: 10px;
    animation: move 5s infinite;
}
.foot_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    height: 100%;
}
.foot{
    align-items: center;
}

