body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 100px auto 90px;
    grid-template-areas: 
    'left_header header right_header'
    'aside main right_aside'
    'footer footer footer';
}
header{
    grid-area: header;
    background-color: white;
}
main{
    grid-area: main;
    background-color: #ffcdd2;
    border-bottom: 1px solid #e2e2e2;
}
aside{
    grid-area: aside;
    background-color: #ffebee;
}
right_aside{
    grid-area: right_aside;
    background-color: #ffebee;
}

footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e2e2e2;
}
