<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.PhotoMapper">

<select id="getPhoto" resultType="kr.smhrd.entity.Photo" parameterType="kr.smhrd.entity.Criteria">
	<![CDATA[
	select
	cr_seq, cr_file, cr_url, cr_date, admin_id, cr_count
	from
	(
	select
	rownum rn, cr_seq, cr_file, cr_url, cr_date, admin_id, cr_count from crawling
	where rownum <= #{page} * #{perPageNum} and cr_seq > 0
	)
	where rn > (#{page} -1) * #{perPageNum}
		]]>
</select>
</mapper>